on early-init
   exec -- /vendor/bin/sh -c "[ -c /dev/host_hwbinder ] && setprop ctl.stop vendor.gralloc-2-0"

on post-fs-data
   # Create the directories used by the Wireless subsystem
   mkdir /data/vendor/wifi 0771 wifi wifi
   mkdir /data/vendor/wifi/wpa 0770 wifi wifi
   mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi
   enable wpa_supplicant

on property:waydroid.virtwifi.enabled=true && property:sys.boot_completed=1
   exec -- /system/bin/cmd wifi set-wifi-enabled enabled
   exec -- /system/bin/cmd wifi connect-network "Virtual Wi-Fi" open
